{
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:flowtype/recommended", "prettier"],
  "plugins": [
    "flowtype"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "experimentalDecorators": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-use-before-define": 0
  }
}